.bg-primary{
  background-color: steelblue !important;
}

table {
  margin-bottom: 0 !important;
}

#cardHead {
  padding: 0px;
}

h4 {
  padding: 10px !important;
  margin: 0 !important;
}

.tableFont {
  font-size: 14px;
}

.txtCenter {
  text-align: center !important;
}

th {
  border-top: 0 !important;
}

.card {
  border: 1px solid steelblue !important;
  border-radius: 5px !important;
}

.card-body {
  padding: 0px !important;
}

#addTrain {
  padding: 10px;
}

#formContainer {
  margin-top: 10px;
  margin-bottom: 10px;
}

.jumbotron {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  margin-bottom: 10px !important;
}