table{
    margin-bottom: 0 !important;
}

#cardHead{
    padding-top: 15px;
}

#tblTxt{
    font-size: 14px;
}

.txtCenter{
    text-align: center !important;
}

th{
    border-top: 0 !important;
}

.card{
    border: 1px solid #007bff !important;
    border-radius: 5px !important;
}